body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1200px;
    margin: auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #f8f9fa;
    padding: 20px;
}

.navbar .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar .nav-links a {
    text-decoration: none;
    color: black;
    transition: color 0.5s;
}

.navbar .nav-links a:hover {
    color: orange;
}

.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 70px;
    padding: 20px;
}

.section .image-container {
    width: 45%;
    margin-bottom: 20px;
}

.section .image-container img {
    width: 100%;
}

.section h1 {
    font-size: 30px;
    margin-bottom: 20px;
}

.section p {
    margin-bottom: 20px;
}

.footer {
    text-align: center;
    background-color: #f8f9fa;
    padding: 20px;
}

.footer-link {
    color: black;
    margin-right: 20px;
}

.footer-link:hover {
    color: orange;
}
