body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header, .footer {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
}

.section {
    margin: 70px;  /* Increase vertical spacing */
    padding: 20px;
    text-align: center;
}

.section h1 {
    font-size: 30px;
    margin-bottom: 20px;
}

.section p {
    margin-bottom: 20px;
}

#scrollBtn {
    display: none; 
    position: fixed;
    bottom: 20px; 
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #555;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
}
